{% load staticfiles %}

<html>
<head>
    <title>Príspevky</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/approve.css' %}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  {% if user.is_authenticated %}
    <div id="gen">
      <div id="mess">
        {% if m %}
          {{ m }}
        {% endif %}
        <div id="author">
          {{ post.author }}
        </div>
        <div id="bubble">
          {{ post.obsah }}
        </div>
        <div id="cas">
          {{ post.cas }}
        </div>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div id="f">
          <input id="g" type="submit" value="Schváľ príspevok" name="approve"/>
          <input id="h" type="submit" value="Vymaž príspevok" name="delete"/>
        </div>
      </form>
    </div>
  {% endif %}
</body>
</html>
